.cardBase {
  width: 45rem;
  height: 20rem;
}

.icons {
  width: 4rem;
}

/* colors */
.red {
  color: red;
}

.orange {
  color: orange;
}

.blue {
  color: blue;
}

.skyblue {
  color: skyblue;
}

.lime {
  color: lime;
}

.coral {
  color: coral;
}

.tan {
  color: tan;
}

.yellow {
  color: yellow;
}
.gray {
  color: gray;
}

.black {
  color: rgb(17, 17, 17);
}

.pink {
  color: pink;
}

.purple {
  color: rgb(84, 9, 165);
}
